---

name: cron-pull

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    # Every hour
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        repo:
          - upstream: wbthomason/packer.nvim
            name: packer.nvim
            branch: master

          - upstream: llvm/llvm-project
            name: llvm-project
            branch: main

    steps:
      - uses: actions/checkout@v3.0.2
        with:
          repository: devtty63/${{ matrix.repo.name }}
          path: ${{ matrix.repo.name }}
          ref: ${{ matrix.repo.branch }}

      - name: Pull changes from upstream
        run: |
          (cd "${{ matrix.repo.name }}";

            git config --list
            git config --local user.name "devtty63"
            git config --local user.email "devtty63[bot]@users.noreply.github.com"

            git remote add upstream \
              "https://github.com/${{ matrix.repo.upstream}}.git"
            git remote set-url origin \
              "https://${{ secrets.GH_SECRET_TOKEN }}@github.com/devtty63/${{ matrix.repo.name }}.git"

            git pull upstream "${{ matrix.repo.branch }}:${{ matrix.repo.branch }}" \
              --rebase

            git config --local --unset-all 'http.https://github.com/.extraheader'

            git push origin
            git push origin --tags
          )
